@using Microsoft.AspNetCore.Http
@model IEnumerable<ProyectoWeb.Models.TbInventario>
    <div class="container">
        <p>
            <a class="btn btn-sm btn-success" asp-action="Create">Nuevo Producto</a>
        </p>
        <input id="controller" type="hidden" value="Inventario" />
        <table id="tableInfo" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Matricula)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vendedor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cantidad)
                    </th>
                    <th>
                        Empresa
                    </th>
                    <th>
                        Num. Factura
                    </th>
                    @if (Context.Session.GetInt32("tipoUsuario") == 1)
                    {
                        <th>
                            Estado
                        </th>
                        <th></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vendedor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpresaNavigation.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParaFacturaNavigation.IdFactura)
                    </td>
                    @if (Context.Session.GetInt32("tipoUsuario") == 1)
                    {
                        <td id="status-@Html.DisplayFor( modelItem => item.IdInventario )">
                            @if (item.Estado == 1)
                            {
                                <button value="@item.IdInventario" class="baja btn btn-success">Activo</button>
                            }
                            else if (item.Estado == 2)
                            {
                                <button value="@item.IdInventario" class="alta btn btn-danger">Inactivo</button>
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdInventario" class="btn btn-sm btn-primary"><i class="icon-edit"></i></a>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>